<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
	<iframe src="/nightwatch/widgetBody?start=0" scrolling="no" frameborder=0 style="width:100%;height:100%;"></iframe>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
	<iframe src="/nightwatch/widgetBody?start=1" scrolling="no" frameborder=0 style="width:100%;height:100%;"></iframe>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="nightwatch" data-view="Nightwatch"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
	<iframe src="/nightwatch/widgetBody?start=2" scrolling="no" frameborder=0 style="width:100%;height:100%;"></iframe>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
	<iframe src="/nightwatch/widgetBody?start=3" scrolling="no" frameborder=0 style="width:100%;height:100%;"></iframe>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
	<iframe src="/nightwatch/widgetBody?start=4" scrolling="no" frameborder=0 style="width:100%;height:100%;"></iframe>
    </li>
  </ul>
</div>
