<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div 	id="0" data-id="nightwatch" data-view="Text"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="1" data-id="nightwatch" data-view="Text"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="nightwatch" data-view="Text"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="2" data-id="nightwatch" data-view="Text"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="3" data-id="nightwatch" data-view="Text"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="4" data-id="nightwatch" data-view="Text"></div>
    </li>
  </ul>
</div>